* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main: hsla(335, 85%, 75%, 1);
    --main-2: hsla(335, 85%, 60%, 1);

    --secondary: #3b2b32;
    --bg: #fff;
    
    --main: hsla(335, 5%, 40%, 1);
    --main-2: hsla(335, 5%, 20%, 1);

    --secondary: #3b2b32;
    --bg: #fff;
}

#main {
    background: var(--bg);
    position: relative;
    min-height: 100vh;

    #svg_bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    header {
        height: 50vh;
        background: linear-gradient(180deg, var(--main), var(--main-2));
        color: var(--bg);
        position: relative;
        text-align: center;
        overflow: hidden;
        // font-family: 'Pacifico', cursive;
                // font-family: 'Lato', sans-serif;

        font-family: 'Fugaz One', cursive;
        // font-family: 'Lobster Two', cursive;

        &::after{
            content: attr(data-text);
            position: absolute;
            right: 50%;
            top: 50%;
            font-size: 10em;
            transform: translate(75%, -75%);
            opacity: 0.12;
        }

        div {
            width: fit-content;
            height: fit-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: relative;

            h1{
                font-size: 3em;
                margin-bottom: 12px;
            }
            p{
                font-size: 1.4em;
            }
        }
    }

    article {
        position: relative;
        width: 80%;
        top: -12px;
        background: var(--bg);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
        margin: 0 auto;
        padding: 20px;
        color: var(--secondary);
        padding-bottom: 1em;
        overflow: hidden;
        // font-family: 'Lobster Two', cursive;
        font-family: 'Fugaz One', cursive;


        h1{
            border-left: 4px solid var(--main);
            padding: 8px 8px 8px 12px;
            font-size: 1.8em;
            margin: 0 0 1em 0;
        }

        p{
            font-size: 1.2em;
            font-family: 'Lato', sans-serif;

        }

        footer{
            margin: 1em;
            margin-bottom: 0;
            text-align: right;
            position: relative;

            &::after{
                content: attr(data-text);
                position: absolute;
                right: 50%;
                top: 50%;
                font-size: 1.6em;
                transform: translate(75%, -25%);
                opacity: 0.22;
                color: var(--main);
            }

            p{
                font-size: 1em;
                opacity: 0.88;
            }
        }
    }
}





.cls-1,
.cls-4 {
    fill: none;
}

.cls-2 {
    fill: var(--main);
    opacity: 0.2;
}

.cls-3 {
    fill:var(--main-2);
    opacity: 0.2;
}

.cls-4 {
    stroke: var(--main);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2.7px;
    opacity: 0.2;
}

.rect {
    fill: url(#heartincircle);
    // width: 100%;
    height: 100%;
}